/*
resize
指定一个元素是否应该由用户去调整大小

box-sizing
允许您以确切的方式定义适应某个区域的具体内容

outline-offset
轮廓与边框有两点不同：
轮廓不占用空间
轮廓可能是非矩形
*/
div
{
    resize:both;
    overflow:auto;
}
div
{
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    width:50%;
    float:left;
}
